body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-color: #000;
    color: white;
    background-image: url(1157068-large-black-and-neon-color-wallpaper-2560x1440-hd-for-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.todo-grid,
.input-grid
{
    display: grid;
    grid-template-columns:  50px 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
}

.input-grid{
    margin-bottom: 20px;
}

.input,
.date
{
    font-size: 17px;
    padding: 6px;
}

h1{
    text-align: center;
}

.container{
    border: solid;
    padding: 20px;
    align-items: center;
    box-shadow: 0 0 2rem rgb(186, 100, 243);
    transition: 0.5s ease;
    background-color: #000;
}

.container:hover{
    transform: scale(1.1);
}
.add-btn{
    cursor:pointer;
    background-color: rgb(67, 10, 105);
    color: white;
    font-weight: bolder;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

.delete-btn{
    background-color: #000;
    color: rgb(185, 98, 243);
    font-size: 20px;
    border: none;
    cursor: pointer;
}
.delete-btn:hover{
    box-shadow: 0 0 1rem rgb(186, 100, 243);
    border-radius: 5px;
}